<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>利用者情報</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>利用者詳細情報</h1>
    <ul>
        <li>名前: <%= user.name %> (<%= user.name_kana %>)</li>
        <li>疾患名: <%= user.disease %>
        </li>
        <li>現病歴: <%= user.medicalHistory %>
        </li>
        <li>目標設定: <%= user.goals %>
        </li>
        <li>家族構成: <%= user.family %>
        </li>
        <li>既往歴: <%= user.other %>
        </li>
    </ul>
    <a href="/">戻る</a>
</body>

</html>