<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>利用者情報</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>利用者詳細情報</h1>
    <ul>
        <% for (let i=0; i < users.length; i++) { %>
            <li>名前: <%= users[i].name %> (<%= users[i].name_kana %>)</li>
            <li>疾患名: <%= users[i].disease %>
            </li>
            <li>現病歴: <%= users[i].medical_history %>
            </li>
            <li>目標設定: <%= users[i].goals %>
            </li>
            <li>家族構成: <%= users[i].family_composition %>
            </li>
            <li>既往歴: <%= users[i].other %>
            </li>
            <% } %>
    </ul>
    <a href="/">戻る</a>
</body>

</html>